DATABASE_URL=postgresql://postgres:password@host:5432/postgres
SUPABASE_URL=https://palyfdjouvjqoibqkyju.supabase.co
SUPABASE_ANON_KEY=your_supabase_anon_key
BOT_TOKEN=
TELEGRAM_BOT_TOKEN=
VITE_BOT_TOKEN=
VITE_TELEGRAM_BOT_USERNAME=AURA_AGENBOT
VITE_TELEGRAM_CHANNEL=https://t.me/NEW_AURA_GEN
VITE_MINI_APP_URL=https://t.me/AURA_AGENBOT/app
VITE_TON_NETWORK=mainnet
VITE_TON_RECEIVER_WALLET=UQA0N60XaN9c1l5DvOoQcnXWEX7YEFvNaETOnenlk3iSCPX5
VITE_MONETAG_ZONE_ID=11862041
JWT_SECRET=your_jwt_secret_here
VITE_APP_NAME=AURA_AGEN
PORT=3000
